* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: 16px 'Open Sans', Arial, sans-serif;
  color: #010101;
}

.mainSliderC img {
  width: 100%;
  height: auto;
}

/*************** NAVIGATION ***************/
.navC {
  /* background-color: blue; */
}
/*************** / NAVIGATION ***************/














/*************** SLIDER ***************/
.mainSliderC .slider-1,
.mainSliderC .slider-2,
.mainSliderC .slider-3{
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSliderC .slider-1{
  background-image: url(../images/mainSlider/1.jpg);
}

.mainSliderC .slider-2{
  background-image: url(../images/mainSlider/2.jpg);
}

.mainSliderC .slider-3{
  background-image: url(../images/mainSlider/3.jpg);
}
/*************** / SLIDER ***************/






/*************** PARALLAX ***************/
.parallax-window {
    min-height: 450px;
    background: transparent;
}
/*************** / PARALLAX ***************/






/*************** FOOTER ***************/
footer {
  padding-top: 100px;
  height: 250px;
  color: lightblue;
  background-color: navy;
  /* outline: 3px solid red; */
}

footer p {
  display: table;
  margin: 0 auto;
}
/*************** / FOOTER ***************/







/*************** MEDIAQUERY ***************/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
  .dropdown-menu > li > a {
    white-space: normal;  
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) {
  
}