@import url('https://fonts.googleapis.com/css?family=Roboto');

  /*************** COMMON STYLES ***************/
html, body {
  /* touch-action: auto; */
  /* height: 100%; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  overflow-x: hidden;
}

h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 2.5em;
  color: blue;
}

h2 {
  margin: 25px 0;
  text-align: center;
  font-size: 1.875em;
  color: blue;
}

h3 {
  margin: 10px 0;
  text-align: center;
  line-height: 1.2;
  font-size: 1.2em;
  color: blue;
}

p {
  margin: 10px 0 10px;
  text-align: left;
  /* letter-spacing: 2px; */
}

a,
a:hover {
  text-decoration: none;
}

hr.hrStyle {
  margin: 60px 0 30px;
  border: 0;
  height: 3px;
  background: #4A70B5;
  background: -webkit-gradient(linear, right top, left top, from(rgba(68, 108, 179, 0)), color-stop(rgba(68, 108, 179, 1)), to(rgba(68, 108, 179, 0)));
  background: linear-gradient(to left, rgba(68, 108, 179, 0), rgba(68, 108, 179, 1), rgba(68, 108, 179, 0));
}

/* CLEAR  */
/* .clearfix:before,
.clearfix:after {
  content: " "; 
  display: table; 
}
.clearfix:after {
  clear: both;
} */
/*************** / COMMON STYLES **************










/*************** NAVIGATION ***************/

body > div {
  background-color: #E4F1FE;
}

.topInfo {
  height: 150px;
  padding: 30px 20px 0;
  line-height: 1;
  font-size: 1.2em;
}

.topInfo div {
  float: left;
  font-weight: bold;
  color: #7FC560;
  /* outline: 1px solid red; */
}

.topInfo div:first-child {
  margin-right: 100px;
}

.topInfo a {
  display: block;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1em;
  color: #7FC560;
  -webkit-transition: .3s;
  transition: .3s;
}

.topInfo div:first-child a {
  font-size: 2em;
}

.topInfo a span {
  color: #499FFF;
}

.topInfo a:hover {
  color: #499FFF;
  cursor: pointer;
}

.topInfo div:last-child {
  float: right;
  margin-top: 30px;
}

.topInfo div:last-child a {
  float: right;
  font-size: .9em;
  text-transform: uppercase;
}

.fixedMenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9000;
  background: rgba(68, 108, 179, .8);
}

nav {
  height: 50px;
  background: #446CB3;
  background: -webkit-gradient(linear, left bottom, left top, from(#446CB3), to(#52B3D9));
  background: linear-gradient(0deg, #446CB3, #52B3D9);
}

.toggleMenu {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggleMenu img {
    display: block;
    width: 40px;
    height: auto;
  }

.nav {
  list-style: none;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.nav ul {
  list-style: none;
}

.nav li {
  position: relative;
}

.nav > li {
  float: left;
  white-space: nowrap;
}

/* .nav .fixedElement { 
  padding-right: 15px;
  float: right;
  display: none;
} */

.nav > li > a.parent,
.nav > li > a.parent:hover,
.nav > li > a.parent:focus {
  background-image: url("../images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
}

.nav > li > a {
  display: block;
  padding: 5px 15px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav li ul {
  position: absolute;
  left: -9999px;
}

.nav > li.hover:hover > ul {
  left: 0;
  background: rgba(68, 108, 179, .8);
  color: #fff;
  z-index: 9000;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

nav .nav a:hover,
nav .nav a:focus,
.activeMenuItem {
  background: #249578;
}

.nav li li a {
  display: block;
  position: relative;
  padding: 0 15px;
  /* min-width: 320px; */
  z-index: 100;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav li li:first-child {
  padding-top: 10px;
}

.nav li li:last-child {
  padding-bottom: 10px;
}

.nav li li li a {
  background: #249578;
  /* z-index: 200; */
}

.nav li li a:hover {
  padding-left: 20px;
  padding-right: 10px;
}

.departmentHint {
  display: none;
  position: absolute;
  padding: 5px 15px;
  top: 15px;
  left: 30%;
  max-width: 350px;
  background-color: #fafafa;
  color: #446CB3;
  white-space: normal;
  border-radius: 5px;
  z-index: 9999;
}

.nav li li a:hover ~ .departmentHint {
  display: block;
}
/*************** / NAVIGATION ***************/


/*************** MAINSLIDER ***************/
#mainSlider .item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#mainSlider .slider-1 {
  background-image: url(../images/mainSlider/1.jpg);
}

#mainSlider .slider-2 {
  background-image: url(../images/mainSlider/2.jpg);
}

#mainSlider .slider-3 {
  background-image: url(../images/mainSlider/3.jpg);
}

#mainSlider .owl-mainSlider {
  margin: 0;
}

/* #mainSlider .owl-prev,
#mainSlider .owl-next {
  width: 100px;
  height: auto;
  position: absolute;
  top: -50%;
  z-index: 500;
} */
/*************** / MAINSLIDER ***************/















/*************** OWLCARUSEL ***************/
.owl-doctors {
  margin: 50px 0;
}

.owl-doctors .owl-dots {
  display: none;
}

.owl-doctors .owl-item:hover img {
  -webkit-box-shadow: 1px 1px 12px 0px #4A9FFF;
          box-shadow: 1px 1px 12px 0px #4A9FFF;
}

.owl-doctors .owl-nav {
  position: absolute;
  margin: 0;
  top: 40%;
  left: 0;
  right: 0;
}

.owl-doctors .owl-nav .owl-prev,
.owl-doctors .owl-nav .owl-next,
.owl-doctors .owl-nav .owl-prev:hover,
.owl-doctors .owl-nav .owl-next:hover {
  background: url(../images/mainSlider/next.png) no-repeat center;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px; 
  /* outline: 1px solid #499FFF; */
}

.owl-doctors .owl-nav .owl-prev {
  transform: rotate(180deg);
  opacity: .5;
  float: left;
}

.owl-doctors .owl-nav .owl-next {
  opacity: .5;
  float: right;
}

.owl-doctors .owl-nav .owl-prev:hover,
.owl-doctors .owl-nav .owl-next:hover {
  opacity: 1;
}

.owl-doctors p {
  text-align: center;
  line-height: 1.2;
}

.owl-doctors a {
  display: table;
  margin: 0 auto;
  padding: 5px 10px;
  color: #fff;
  background: rgba(68, 108, 179, .5);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.owl-doctors a:hover {
  background: rgba(68, 108, 179, .8);
  width: 100%;
}
/*************** / OWLCARUSEL ***************/













/*************** PARALLAX ***************/
.parallax-window {
  min-height: 450px;
  background: transparent;
}
/*************** / PARALLAX ***************/

/* .department img {
  width: 30%;
  height: auto;
  margin: 0 30px 30px 0;
} */








/*************** FOOTER ***************/
footer {
  margin-top: 50px;
  padding: 50px 0 50px;
  color: #fff;
  background: #446CB3;
  background: -webkit-gradient(linear, left bottom, left top, from(#446CB3), to(#52B3D9));
  background: linear-gradient(0deg, #446CB3, #52B3D9);
}

footer h2,
footer .glyphicon {
  color: #446CB3;
}

footer li {
  margin-bottom: 5px;
}

footer li span {
  padding-right: 15px;
}

footer a:link,
footer a:visited {
  color: #fff;
}

footer a:hover {
  color: #7FC560;;
}

footer div,
footer canvas {
  outline: 1px solid red;
}
/*************** / FOOTER ***************/






/*************** scrollToTop ***************/
.scrollToTop {
  display: none;
  position: fixed;
  width: 40px;
  height: auto;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: .5;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: .5;
}

.scrollToTop:hover {
  opacity: 1;
}
/*************** / scrollToTop ***************/



















/*************** MEDIAQUERYS **************************************/


/*************** 1199 ***************/
@media (max-width: 1199px) {
  .topInfo div:first-child {
    margin-right: 40px;
  }
}



/*************** 991 ***************/
@media (max-width: 991px) {
  .topInfo {
    height: 120px;
    padding: 30px 20px 0;
    font-size: 1em;
  }
  
  .topInfo div:last-child {
    display: none;
  }
  /* NAVIGATION */
  .nav li a {
    text-align: left;
    padding: 5px 9px;
  }
}



/*************** 767 ***************/
@media (max-width: 767px) {
  /* COMMON STYLES */
  html, body {
    height: 100%;
  }
  h1 {
    margin: 50px 0;
    font-size: 30px;
  }

  /* NAVIGATION */
  .topInfo {
    height: 62px;
    padding: 8px 0 0 70px;
  }
  .topInfo div:first-child {
    margin-right: 0;
    font-size: .8em;
  }
  .topInfo div:nth-child(2) {
    display: none;
  }
  nav {
    height: 0;
  }
  .nav {
    position: fixed;
    padding-top: 70px;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: rgba(68, 108, 179, .8);
    z-index: 900;
    overflow-x: auto;
  }
  .activeMenu {
    left: 0;
  }
  .nav > li {
    float: none;
    white-space: normal;
  }
  .nav li a {
    float: none;
    line-height: 20px;
  }
  .nav li li {
    padding: 0;
    font-size: 85%;
    padding-bottom: 10px;
  }
  .nav > li > a.parent,
  .nav > li > a.parent:hover,
  .nav > li > a.parent:focus {
    background-position: 95% 50%;
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav>li.hover>ul,
  .nav li li.hover ul {
    position: static;    
  }
  .nav > li.hover:hover > ul {
    background: transparent;
  }
}

  /*************** 575 ***************/
@media (max-width: 575px) {
  .topInfo {      
    padding-top: 12px;
  }
  .topInfo div:first-child {
    font-size: .6em;
  }
  /* .nav li li a {
    min-width: 300px;
  } */
}