body {
  position: relative;
}

html body .mainSlider {
  background-color: #F44336;
  color: #fff;
  height: 200px;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar {
  margin-bottom: 0px;
}

.affix~.container-fluid {
  position: relative;
  top: 50px;
}

/*************** MAIN ***************/
#section1 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #1E88E5;
}

#section2 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #673ab7;
}

#section3 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}

#section4 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #1E88E5;
}

#section5 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #673ab7;
}

#section6 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}
/* #section41 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #00bcd4;
}

#section42 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #009688;
} */
/*************** ? MAIN ***************/



/*************** FOOTER ***************/
footer {
  padding-top: 100px;
  height: 500px;
  color: blue;
  background-color: #ccc;
  /* outline: 3px solid red; */
}

footer p {
  display: table;
  margin: 0 auto;
  font-size: 30px;
}
/*************** / FOOTER ***************/