body, ul, li, a {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.toggleMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    padding: 15px 25px;
    display:  none;
    background: #5174C5;
    color: #fff;
}
.nav {
    list-style: none;
    background: #5174C5;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 15em;
}
.nav a {
    padding: 10px 30px;
    color:#fff;
}
.nav li {
    position: relative;
    outline: 1px solid #ccc;
}
.nav > li {
    float: left;
    border-top: 1px solid #ccc;
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index: 200;
    border-top: 1px solid #1d7a62;
}



@media screen and (max-width: 768px) {
    .active {
        position: fixed;
    }

    .nav {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: -100%;
        width: 100%;
        transition: all .3s;
    }

    .activeMenu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul,
   .nav li li.hover ul {
        position: static;
    }
}